pyrogram
TgCrypto-pyrofork
requests
aiofiles
ffmpeg-python
asyncio
aiohttp
beautifulsoup4
hachoir
numpy
Pillow
olefile
filetype
motor
git+https://github.com/Tinche/aiofiles.git@master#egg=aiofiles
dnspython
psutil
python-dotenv
